@import "tailwindcss";

:root {
  --primary: #1a1a1a;
  --background: #ffffff;
  --foreground: var(--primary);
  --faded: #484848;
  --danger: #ad7070;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-faded: var(--faded);
  --color-danger: var(--danger);
  --font-serif: var(--font-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@utility font-text {
  font-variation-settings: "opsz" 12;
}

@utility font-subhead {
  font-variation-settings: "opsz" 24;
}

@utility font-display {
  font-variation-settings: "opsz" 36;
}